/*
__author__ = 'dennis rump'
*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.slider {
   margin-left: 10px;
}

#option_channel_count .slider-selection {
	background: #E8E3E3;
}

#option_channel_count .slider-handle {
	background: #333333;
}

#option_channel_count .slider-tick.in-selection {
	background: #777777;
}

.box{
  margin: 10px 0 10px 0;
}
.box:last-child{
  margin: 10px 0 10px 0;
}
